<h1>Minex#index</h1>
<p>Find me in app/views/minex/index.html.erb</p>
<p>Today <%= DateTime.now.to_date %></p>
<p>Current: <%= Mexbt.ticker.slice(:ask).values %> pesos.</p>
<p>Current: <%= Mexbt.ticker(currency_pair: 'BTCUSD').slice(:ask).values %> dollars.</p>

<p>Private API</p>
<%=  account = Mexbt::Account.new(public_key: 'aee147639a36001d4fda4b6033ca44d7', private_key: '4b27f936cc510bc9d8fc09baf', user_id: 'frankvivitar@gmail.com', sandbox: true) %>


